@charset "utf-8";
/* CSS Document */


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  
	
}

li {
  float:left;
  
}

li a {
  display:block;
  color: red;
  text-align:center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
	
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color:rgba(0,0,0,1.00);
}


body{
	
	background-color: black;
    font-family: "Baskerville";
	background-image:url("Joker1.png");
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}
/* 2D page */
.col img {
	width: 400px;
	height:400px;
	margin-left:25%;
	margin-top: 5%;
	border:rgba(0,0,0,1.00) thick inset;
	
}


/* Biography page*/
.bio{
	color: red;
	font-size: 60px;
	text-align: center;
	background: rgba(0,0,0,.90)
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  margin-left: 140px

}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/*bottom wording*/

.side {
	text-align: center;
	color: red;
	font-size: 100px;
	text-decoration: underline 

}

/*Video*/

.vid{
	margin-top: 50px;
	align-content: center;
	}
.welcome{
	text-align:center;
	color:rgba(173,0,2,1.00);
	font-size: 80px;
	padding-left: 20px;
}
.p3{
	font-size: 40px;
	color:rgba(173,0,2,1.00);
	background:rgba(0,0,0,1.00);
	
	
		
}